.displayName {
    display: inline-flex;
    align-items: center;
    font-size: 0.55rem;
    font-weight: 500;
    padding: 0.2rem 0.55rem;
    border-radius: 9999px;
    background-color: var(--color-primary-base);
    color: var(--color-secondary-base);
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.rows {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    justify-content: space-between;
}

.value{
    text-wrap: balance;
}

.label {
    color: var(--color-secondary-light);
}

.description {
    font-size: 0.8rem;
}

.abonementBadge {
    padding: 0.2rem;
    cursor: pointer;
}

.abonementBadgeText {
    font-size: 0.5rem;
    text-wrap: balance;
}