**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.angular
**/.npm
**/.git/objects
**/dist
**/coverage
**/.env
**/.env.local
**/appsettings.Development.json
**/README.md
**/.DS_Store
**/*.log
**/test-results
