# Example env file for docker-compose
#=======Forbidden for change variables==========
CONFIGSERVICE_URL=http://configservice:5000
DB_HOST=primum-postgres
DB_PORT=5432
RABBITMQ_HOST=primum-rabbitmq
RABBITMQ_PORT=5672

#=============Changeable variables==============
DB_PASSWORD=_pASS1234567890
WEBAPI_JWT_SEED=your-super-secret-key-that-should-be-at-least-32-characters-long
WEBAPI_JWT_ISSUER=http://localhost:4200
WEBAPI_JWT_AUDIENCE=http://localhost:4200
WEBAPI_JWT_LIFETIME_MINUTES=360
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
EMAIL=""
EMAIL_PASSWORD=""
GATEWAY_URL=http://localhost:4200
DB_USERNAME=postgres
DB_PASSWORD=postgres_password
