.Positive {
  background-color: color-mix(in srgb, var(--color-functional-success) 75%, transparent);
  color: var(--color-secondary-base);
}

.Warning {
  background-color: color-mix(in srgb, var(--color-functional-warning) 75%, transparent);
  color: var(--color-secondary-base);
}

.Negative {
  background-color: color-mix(in srgb, var(--color-functional-error) 75%, transparent);
  color: var(--color-secondary-base);
}