.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocks {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 48rem) {
  .blocks {
    columns: 1;
  }

  .blocks > * {
    margin-bottom: 1.5rem;
  }
}