@reference "@/global.css";

@keyframes pixel-cycle {
  0% {
    background-color: var(--color-primary-light);
    box-shadow:
      var(--step) 0 var(--color-primary-base),
      calc(var(--step) * 2) 0 var(--color-primary-dark),
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) transparent,
      0 var(--step) transparent;
  }
  12.5% {
    background-color: transparent;
    box-shadow:
      var(--step) 0 var(--color-primary-light),
      calc(var(--step) * 2) 0 var(--color-primary-base),
      calc(var(--step) * 2) var(--step) var(--color-primary-dark),
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) transparent,
      0 var(--step) transparent;
  }
  25% {
    background-color: transparent;
    box-shadow:
      var(--step) 0 transparent,
      calc(var(--step) * 2) 0 var(--color-primary-light),
      calc(var(--step) * 2) var(--step) var(--color-primary-base),
      calc(var(--step) * 2) calc(var(--step) * 2) var(--color-primary-dark),
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) transparent,
      0 var(--step) transparent;
  }
  37.5% {
    background-color: transparent;
    box-shadow:
      var(--step) 0 transparent,
      calc(var(--step) * 2) 0 transparent,
      calc(var(--step) * 2) var(--step) var(--color-primary-light),
      calc(var(--step) * 2) calc(var(--step) * 2) var(--color-primary-base),
      var(--step) calc(var(--step) * 2) var(--color-primary-dark),
      0 calc(var(--step) * 2) transparent,
      0 var(--step) transparent;
  }
  50% {
    background-color: transparent;
    box-shadow:
      var(--step) 0 transparent,
      calc(var(--step) * 2) 0 transparent,
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) var(--color-primary-light),
      var(--step) calc(var(--step) * 2) var(--color-primary-base),
      0 calc(var(--step) * 2) var(--color-primary-dark),
      0 var(--step) transparent;
  }
  62.5% {
    background-color: transparent;
    box-shadow:
      var(--step) 0 transparent,
      calc(var(--step) * 2) 0 transparent,
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) var(--color-primary-light),
      0 calc(var(--step) * 2) var(--color-primary-base),
      0 var(--step) var(--color-primary-dark);
  }
  75% {
    background-color: var(--color-primary-dark);
    box-shadow:
      var(--step) 0 transparent,
      calc(var(--step) * 2) 0 transparent,
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) var(--color-primary-light),
      0 var(--step) var(--color-primary-base);
  }
  87.5% {
    background-color: var(--color-primary-base);
    box-shadow:
      var(--step) 0 var(--color-primary-dark),
      calc(var(--step) * 2) 0 transparent,
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) transparent,
      0 var(--step) var(--color-primary-light);
  }
  100% {
    background-color: var(--color-primary-light);
    box-shadow:
      var(--step) 0 var(--color-primary-base),
      calc(var(--step) * 2) 0 var(--color-primary-dark),
      calc(var(--step) * 2) var(--step) transparent,
      calc(var(--step) * 2) calc(var(--step) * 2) transparent,
      var(--step) calc(var(--step) * 2) transparent,
      0 calc(var(--step) * 2) transparent,
      0 var(--step) transparent;
  }
}

.miniLoader {
  --cell: 5px;
  --gap: 3px;
  --step: calc(var(--cell) + var(--gap));
  @apply static mx-auto my-1;
  width: var(--cell);
  height: var(--cell);
  animation: pixel-cycle 0.9s steps(1) infinite;
}

.loader {
  --cell: 1.3vmin;
  --gap: 0.9vmin;
  --step: calc(var(--cell) + var(--gap));
  @apply fixed z-[9999];
  width: var(--cell);
  height: var(--cell);
  top: calc(50% - var(--step) * 1.5);
  left: calc(50% - var(--step) * 1.5);
  animation: pixel-cycle 0.9s steps(1) infinite;
}

.loader.sttc {
  @apply static mx-auto my-1;
}
.loader.abslt {
  @apply absolute;
}