.btn {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  min-height: 56px;
  padding: 17px 25px;

  border: 2px solid var(--color-primary-base);
  font-size: 10px;

  transition: .15s;
  touch-action: manipulation; /* убирает задержку 300мс на тап и двойной тап-зум */
  -webkit-tap-highlight-color: transparent;
}

.btn {
  background: var(--color-primary-base);
  color: var(--color-black);
  box-shadow: 6px 6px 0 var(--color-secondary-dark);
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0 var(--color-black);
  }
}

.btn:active {
  transform: translate(4px, 4px);
  box-shadow: 2px 2px 0 var(--color-black);
}