.form {
  padding: 38px;

  background: var(--color-secondary-base);

  box-shadow: 12px 12px 0 var(--color-secondary-dark);
}

.form input {
  width: 100%;

  padding: 17px;

  border: 2px solid var(--color-secondary-base);

  outline: none;

  background: #272727;

  color: var(--color-white);

  font-size: 14px;
}

@media (max-width: 48rem) {
  .form input {
    font-size: 10px;
  }
}

.field {
  margin-bottom: 15px;
}

.form input:focus {
  border-color: var(--color-primary-base);
}

.error {
  color: var(--color-functional-error);
}

.form button {
  width: 100%;

  padding: 19px;

  border: none;

  background: var(--color-primary-base);
  color: var(--color-black);
  font-size: 10px;

  cursor: pointer;
}