.frame {
  position: relative;
}

.frame img {
  height: 500px;

  object-fit: cover;

  border: 2px solid var(--color-secondary-base);
}

.frame::after {
  content: "";

  position: absolute;

  inset: 20px -20px -20px 20px;

  border: 3px solid var(--color-primary-base);

  z-index: -1;
}

.photo {
  filter:
    grayscale(.3)
    contrast(1.12)
    brightness(.9);
}

@media (max-width: 620px) {
  .frame img {
    height: 360px;
  }
}
