.card {
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    background-color: var(--color-secondary-base);
    border: 2px solid var(--color-border-base);
    border-radius: 0px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 6px 6px 0px color-mix(in srgb, var(--color-secondary-darkest) 80%, transparent);
  }