.section {
  padding: 10vh;
  background: var(--color-black);
}

.intro {
  display: grid;

  grid-template-columns: 1fr .8fr;

  gap: 80px;

  align-items: center;

  margin-bottom: 80px;
}

.label {
  color: var(--color-primary-base);

  font-size: 9px;

  margin-bottom: 20px;
}

.title {
  font-size: clamp(27px, 4vw, 44px);
  line-height: 1.45;

  margin-bottom: 25px;
}

.description {
  max-width: 700px;

  color: var(--color-muted);

  font-size: 22px;
}

.photo {
  height: 470px;

  object-fit: cover;

  filter:
    grayscale(.8)
    contrast(1.1)
    brightness(.8);

  border: 2px solid var(--color-primary-base);
}

.benefits {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

@media (max-width: 950px) {
  .intro {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 620px) {
  .section {
    padding: 90px 0;
  }

  .title {
    font-size: 24px;
  }

  .photo {
    height: 360px;
  }

  .benefits {
    grid-template-columns: 1fr;
  }
}
