.container {
  width: 100%;
  max-width: var(--page-size);
  margin-inline: auto;
  padding: 2rem;
  padding-inline: 1rem;
}

@media (max-width: 640px) {
  .container {
    width: 100vw;
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}