.container {
  width: 100%;
  max-width: var(--page-size);
  margin-inline: auto;
  padding: 2rem;
  padding-inline: 1rem;
}

@media (max-width: 640px) {
  .container {
    padding-inline: 0.75rem;
  }
}